config.mk
*.o
*.a
*_test
*.swp
*.log
*.dblite
*.def
*.prof
*.lib
*.tlog
*.obj
*.exe
*.dll
*.idb
*.opensdf
*.sdf
*.suo
*.pdb
*.ilk
*.user
*.lastbuildstate
*.unsuccessfulbuild
tags
src/yamada
src/keywords.c
foo.ymd
foo.yut
ymd_main
