config.mk
*.o
*.a
*_test
*.swp
*.log
*.dblite
*.def
*.prof
*.lib
*.tlog
*.obj
*.exe
*.dll
*.idb
*.filters
*.opensdf
*.sdf
*.suo
*.pdb
*.lastbuildstate
tags
src/keywords.c
src/yamada
foo.ymd
foo.yut
ymd_main
